

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action='~/Name.cshtml' method="get">
        <input type="text" id="sname" name="sname" /><br /><br />
        <input type="submit" name="submit"/>
    </form>

</body>
</html>
